/* Global Styles */

html {
    font-size: 62.5%;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6rem;
    color: darkblue;
    margin: 0;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

/* Header Styles */
nav {
    background-color: #f8f7f9;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline;
    margin: 0 1rem;
}

.nav__item a {
    text-decoration: none;
}

.nav__image {
    width: 120%;
    justify-self: right;
}

.nav *:hover {
    color: #2c5eff;
    cursor: pointer;
}

/* Grids:--------------------------------------------------- */
.grid {
    display: grid;
}


@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    .grid .hero-content {
        text-align: left;
    }
}

/* Block */
.block {
    padding: 2rem 6rem;
}

/* Hero Section Styles */
.hero {
    background-color: #2c5eff;
    color: #fff;
    text-align: center;
}

.hero__title {
    margin: 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #2c5eff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #fafeff;
}

/* Services Section Styles */
.services {
    text-align: center;
}


.service-card {
    background-color: #f8f7f9;
    border-radius: 10px;
    padding: 4rem 2rem;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    color: #2c5eff;
    justify-content: space-evenly;
}

.card__image {
    width: 50%;
    justify-self: center;
}

.service-card p {
    color: darkblue;
    text-align: center;
}


.services .grid--1x2 {
    grid-template-columns: 1fr 1fr;
}

/* Footer Styles */
footer {
    background-color: #2c5eff;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/* Login */
.container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#143bbd;
}

.login-form {
    background-color: #fff;
    padding: 4rem 3rem;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-size: 2rem;
}

.login__title {
    text-align: center;
    margin-top: 0;
}

.login__input {
    display: block;
    padding: 1.4rem 1rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    min-width: 300px;
    outline: 0;
    border: 1px solid rgb(225, 219, 219);
    color: darkblue;
}

::placeholder {
    color: darkblue;
}
.login__input:focus {
    border: 1.5px solid #143bbd;
    transition: border .05s;
}

.login__btn {
    width: 100%;
    padding: 1.4rem 1rem;
    border: none;
    background-color: #2c5eff;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.6rem;
    font-weight: 600;
}

.login__btn:hover {
    background-color: #143bbd;
}